---
import PageLayout from "../layouts/Layout";

console.log("This runs in your terminal, not the browser!");
---

<PageLayout title="">
    <div class="flex">
        <input type="text" placeholder="Type something..." />
        <button>Submit</button>
    </div>
    <div class="flex flex-col">
        
    </div>
</PageLayout>
